authlib>=1.2.0
cryptography==41.0.3
extra-streamlit-components>=0.1.56
google-api-python-client>=2.0.0
google-auth-oauthlib>=0.4.6
google-auth==2.23.0
google-cloud-storage==2.10.0
matplotlib>=3.0.0
pandas>=1.0.0
PyJWT>=2.0.0
python-dotenv>=0.21.0
streamlit>=1.0.0
